<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="toolbar">DASHBOARD</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/main-nav/users']" class="nav-link">
        <mat-icon matListIcon>account_circle</mat-icon>
        API DE USUARIOS
      </a>
      <a mat-list-item [routerLink]="['/main-nav/pokemon']" class="nav-link">
        <mat-icon matListIcon>library_books</mat-icon>
        API DE POKEMON
      </a>
      <a mat-list-item class="nav-link logout-button" (click)="logout()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        CERRAR SESIÓN
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>CONTENIDO</span>
    </mat-toolbar>
    <!-- Aquí se renderiza el contenido dinámico -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
